@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(255.29, 100%, 20%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Inter', sans-serif;
}
